.contacts {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1600px;

	.container {
		padding: 0px 15px;
	}

	&__title {
		position: relative;
		font-weight: 600;
		font-size: 80px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		color: var(--text-color-dark);
		padding: 10px 20px;
		width: fit-content;
		white-space: nowrap;
		margin-bottom: 40px;

		@include mobile {
			font-size: 30px;
			margin-bottom: 20px;
			padding: 10px 10px;
		}
	}

	.rect {
		position: absolute;
		width: 90px;
		height: 20px;
		border: 1px solid var(--text-color-dark);

		@include mobile {
			width: 35px;
			height: 10px;
			// border: 2px solid var(--text-color);
		}

		&-top {
			&-left {
				top: 0;
				left: 0;
				border-bottom: none;
				border-right: none;
			}

			&-mid {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border-bottom: none;
				border-left: none;
				border-right: none;
			}

			&-right {
				top: 0;
				right: 0;
				left: auto;
				border-bottom: none;
				border-left: none;
			}
		}

		&-bottom {
			&-left {
				bottom: 0;
				left: 0;
				border-top: none;
				border-right: none;
			}

			&-mid {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-top: none;
				border-left: none;
				border-right: none;
			}

			&-right {
				bottom: 0;
				right: 0;
				left: auto;
				border-top: none;
				border-left: none;
			}
		}
	}

	.text {
		display: flex;
		flex-direction: column;
		color: var(--text-color-dark);

		@include media_900 {
			flex-direction: column;
			margin-top: 0px;
		}

		&__card {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			border-top: 1px solid #7c0000;
			padding: 20px 0;

			&:last-child {
				border-bottom: 1px solid #7c0000;
			}

			@include media_900 {
				flex-direction: column;
				align-items: center;
				margin-top: 0px;
			}

			@include mobile {
				display: flex;
				align-items: flex-start;
				gap: 5px;
			}

			&-title {
				grid-column: 1 / 3;
				font-family: var(--font-accent);
				font-weight: 500;
				font-size: 20px;
				line-height: 120%;
				letter-spacing: -0.04em;
				text-transform: uppercase;

				@include mobile {
					font-size: 14px;
				}
			}

			&-text {
				grid-column: 6 / -1;
				font-family: var(--font-accent);
				font-weight: 400;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: -0.04em;

				@include mobile {
					font-size: 14px;
				}
			}
		}
	}

	.img__wrapper {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		color: var(--text-color-dark);

		&-img {
			grid-column: 6 / -1;
			width: 100%;
			max-width: 268px;

			@include mobile {
				grid-column: 1 / -1;
				max-width: 100%;
			}
		}

		&-text {
			grid-column: 6 / -1;
			width: 100%;
			max-width: 343px;
			margin-top: 20px;
			margin-bottom: 40px;
			font-weight: 400;
			font-size: 16px;
			line-height: 110%;
			letter-spacing: -0.04em;

			@include mobile {
				grid-column: 1 / -1;
				max-width: 100%;
				margin-top: 10px;
				margin-bottom: 20px;
			}
		}

		&-title {
			grid-column: 6 / -1;
			width: 100%;
			max-width: 343px;
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 20px;
			line-height: 120%;
			letter-spacing: -0.04em;
			text-transform: uppercase;

			@include mobile {
				grid-column: 1 / -1;
				max-width: 100%;
			}
		}
	}
}