.footer {
	font-family: var(--font-accent);
	margin-top: auto;
	background-color: var(--page-bg);
	padding: 0;
	color: var(--text-color-dark);

	.footer__title {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-content: flex-start;
		white-space: nowrap;
		margin-top: -2%;
		margin-bottom: 20px;
		width: 100%;
		height: 100%;
		font-weight: 700;
		font-size: 212px;
		font-size: clamp(40px, 13.3vw, 214px);
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: lowercase;
		color: var(--text-color-dark);

		@include tablet {
			margin-bottom: 0px;
			justify-content: flex-start;
			font-size: clamp(40px, 13.2vw, 214px);
		}
	}

	.footer__link {
		display: inline-block;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		color: var(--text-color-dark);
		white-space: nowrap;

		&-logo {
			font-weight: 900;
			font-size: 40px;
			color: var(--test-color-dark);
		}
	}

	@include tablet {
		font-size: 26px;
	}
}

.footer__copyright {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: -0.04em;
	color: rgba(0, 0, 0, 0.5);

	@include media_900 {
		margin-top: 30px;
	}
}

.footer__links {
	display: grid;
	column-gap: 0px;
	grid-template-columns: repeat(10, 1fr);

	.main {
		row-gap: 0px;
		grid-column: 1 / -1;

		& li {
			display: flex;
			align-items: flex-start;

			&:nth-child(1) {
				grid-column: 1 / 3;
				grid-row: 1 / -1;
				margin-left: 0;
				height: 10px;
				margin-left: -4px;
			}

			&:nth-child(2) {
				grid-column: 3;
				margin-left: -4px;
			}

			&:nth-child(3) {
				grid-column: 3;
				grid-row: 2;
				margin-left: -4px;
			}

			&:nth-child(4) {
				grid-column: 5;
				margin-left: -4px;
			}

			&:nth-child(5) {
				grid-column: 5;
				grid-row: 2;
				margin-left: -4px;
			}

			&:nth-child(6) {
				grid-column: 7;
				grid-row: 1;
				justify-self: start;
				margin-left: -4px;
			}

			&:nth-child(7) {
				grid-column: 7;
				grid-row: 2;
				justify-self: start;
				margin-left: -4px;
			}

			&:nth-child(8) {
				grid-column: 10;
				grid-row: 1;
				justify-self: end;
				margin-right: -4px;
			}

			&:nth-child(9) {
				grid-column: 10;
				grid-row: 2;
				justify-self: end;
				margin-right: -4px;
			}

			@include tablet {

				&:nth-child(1) {
					margin-bottom: 50px;
					grid-column: 1 / 3;
					grid-row: 1;
				}

				&:nth-child(2) {
					grid-column: 1 / 3;
					grid-row: 2;
				}

				&:nth-child(3) {
					grid-column: 1 / 3;
					grid-row: 3;
				}

				&:nth-child(4) {
					grid-column: 1 / 3;
					grid-row: 4;
				}

				&:nth-child(5) {
					grid-column: 1 / 3;
					grid-row: 5;
				}

				&:nth-child(6) {
					grid-column: 1 / 3;
					grid-row: 6;
				}

				&:nth-child(7) {
					grid-column: 3 / -1;
					grid-row: 2;
					justify-self: end;
					margin-left: 0;
					margin-right: -4px;
				}

				&:nth-child(8) {
					grid-column: 3 / -1;
					grid-row: 3;
					justify-self: end;
				}

				&:nth-child(9) {
					grid-column: 3 / -1;
					grid-row: 4;
					justify-self: end;
				}
			}
		}

		& .footer__link {
			display: inline-block;
			transition: all 0.2s ease-in;
			padding: 4px;

			&:hover {
				color: var(--page-bg);
				background-color: var(--accent);
			}
		}

	}

	@include tablet {
		row-gap: 5px;
	}
}