.hero {
	position: relative;
	width: 100vw;
	max-width: 1600px;
	padding: 0;
	margin-top: -80px;

	.container {
		padding: 130px 160px;
		background-color: var(--accent);
		background-color: #999;
		background-image: url('../../img/hero/hero.jpg');
		background-position: center center;
		/* x y */
		background-size: cover;
		background-repeat: no-repeat;


		@include tablet {
			padding: 130px 90px;
		}

		@include mobile {
			padding: 107px 50px;
		}

		@include mobile_small {
			padding: 107px 10px;
		}
	}

	.title__wrapper {
		position: relative;
		z-index: 3;
		max-width: 100%;
		margin: 0 auto;

		@include tablet {
			max-width: 80%;
		}

		@include mobile {
			max-width: 100%;
		}

		@include mobile_small {
			max-width: 80%;
		}

		@media (max-width: 360px) {
			max-width: 100%;
		}
	}

	&__title {
		position: relative;
		font-family: var(--font-second);
		width: 100%;
		font-weight: 500;
		font-size: 120px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		color: var(--text-color);
		margin: 0 auto;
		text-align: center;
		z-index: 3;
		padding: 0 25px;

		span {
			white-space: nowrap;
		}

		@include tablet {
			font-size: 80px;
		}

		@include mobile {
			font-size: 45px;
			padding: 0 15px;
		}
	}

	&__subtitle {
		font-family: var(--font-accent);
		font-weight: 500;
		font-size: 18px;
		line-height: 110%;
		letter-spacing: -0.04em;
		text-align: center;
		color: rgba(244, 248, 249, 0.8);
		max-width: 238px;
		margin: 35px auto;

		@include mobile {
			font-size: 16px;
			margin: 15px auto;
		}
	}

	.element {
		position: relative;
		z-index: 2;

		&__left {
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 100%;
			border-top: 4px solid rgba(244, 248, 249, 0.5);
			border-left: 5px solid rgba(244, 248, 249, 0.5);
			border-bottom: 4px solid rgba(244, 248, 249, 0.5);
			border-radius: 20px;

			&::after {
				content: '';
				position: absolute;

				top: -5px;
				left: 7px;
				width: 20px;
				height: 110%;
				background-color: var(--accent-dark);
			}

			@include mobile_small {
				border-top: 2px solid rgba(244, 248, 249, 0.5);
				border-left: 2px solid rgba(244, 248, 249, 0.5);
				border-bottom: 2px solid rgba(244, 248, 249, 0.5);
			}
		}

		&__right {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 100%;
			border-top: 4px solid rgba(244, 248, 249, 0.5);
			border-right: 5px solid rgba(244, 248, 249, 0.5);
			border-bottom: 4px solid rgba(244, 248, 249, 0.5);
			border-radius: 20px;

			&::after {
				content: '';
				position: absolute;

				top: -5px;
				right: 7px;
				width: 20px;
				height: 110%;
				background-color: var(--accent-dark);
			}

			@include mobile_small {
				border-top: 2px solid rgba(244, 248, 249, 0.5);
				border-right: 2px solid rgba(244, 248, 249, 0.5);
				border-bottom: 2px solid rgba(244, 248, 249, 0.5);
			}
		}
	}

	.hero__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		height: 40px;
		color: var(--accent-dark);
		background-color: var(--accent);
		padding: 0;
		margin: 0 auto;

		width: 100%;
		max-width: 300px;
		border: 1px solid var(--accent);
		border-radius: 100px;
		transition: all 0.2s ease-in;

		&::before,
		&::after {
			display: none;
		}

		&:hover {
			background-color: var(--accent-dark);
			color: var(--page-bg);
		}
	}

	.mobileHide {
		display: none;

		@include mobile {
			display: block;
		}
	}
}