.how {
	font-family: var(--font-accent);
	position: relative;
	width: 100vw;
	max-width: 1600px;
	padding: 0px 15px;

	@include mobile {
		padding: 0px 10px;
	}

	&__title {
		position: relative;
		font-weight: 600;
		font-size: 80px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		text-align: center;
		margin: 0 auto;
		color: var(--text-color-dark);
		padding: 10px 20px;
		width: fit-content;
		white-space: nowrap;
		margin-bottom: 40px;

		@include mobile {
			font-size: 30px;
			margin-bottom: 20px;
			padding: 10px 10px;
		}
	}

	.rect {
		position: absolute;
		width: 90px;
		height: 20px;
		border: 1px solid var(--text-color-dark);

		@include mobile {
			width: 35px;
			height: 10px;
			// border: 2px solid var(--text-color);
		}

		&-top {
			&-left {
				top: 0;
				left: 0;
				border-bottom: none;
				border-right: none;
			}

			&-mid {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				border-bottom: none;
				border-left: none;
				border-right: none;
			}

			&-right {
				top: 0;
				right: 0;
				left: auto;
				border-bottom: none;
				border-left: none;
			}
		}

		&-bottom {
			&-left {
				bottom: 0;
				left: 0;
				border-top: none;
				border-right: none;
			}

			&-mid {
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				border-top: none;
				border-left: none;
				border-right: none;
			}

			&-right {
				bottom: 0;
				right: 0;
				left: auto;
				border-top: none;
				border-left: none;
			}
		}
	}

	.text {
		display: flex;
		flex-direction: column;
		margin-top: 45px;
		gap: 20px;

		.top {
			display: flex;
			justify-content: space-between;
			gap: 10px;

			@include media_900 {
				flex-direction: column;
				gap: 10px;
				margin-top: 0px;
			}
		}

		.bottom {
			display: flex;
			justify-content: center;
			gap: 10px;

			@include media_900 {
				flex-direction: column;
				gap: 10px;
				margin-top: 0px;
			}
		}

		@include media_900 {
			flex-direction: column;
			gap: 10px;
			margin-top: 0px;
		}

		&__card {
			display: flex;
			gap: 10px;

			@include media_900 {
				flex-direction: column;
				align-items: center;
				gap: 20px;
				margin-top: 0px;
			}

			@include mobile {
				gap: 5px;
			}

			.num {
				width: 64px;
				min-width: 64px;
				height: 64px;
				min-height: 64px;

				@include mobile {
					width: 44px;
					min-width: 44px;
					height: 44px;
					min-height: 44px;
				}
			}

			.item {
				display: flex;
				flex-direction: column;
				gap: 10px;
				background-color: var(--accent);
				padding: 20px;
				width: fit-content;
				max-width: 439px;

				@include media_900 {
					flex-direction: column;
					gap: 10px;
					margin-top: 0px;
					max-width: 100%;
					padding: 10px;
				}
			}

			&-title {
				font-family: var(--font-accent);
				border: 1px solid rgba(255, 255, 255, 0.6);
				padding: 3px 20px;
				font-weight: 500;
				font-size: 20px;
				line-height: 120%;
				letter-spacing: -0.04em;
				text-transform: uppercase;
				color: var(--text-color);

				@include mobile {
					font-size: 16px;
					padding: 3px 10px;
				}
			}

			&-text {
				font-family: var(--font-accent);
				font-weight: 400;
				font-size: 16px;
				line-height: 110%;
				letter-spacing: -0.04em;
				color: var(--text-color);
				border: 1px solid rgba(255, 255, 255, 0.6);
				padding: 20px;

				@include mobile {
					font-size: 14px;
					padding: 10px;
				}
			}

			.item-white {
				& .text__card-title {
					background-color: var(--page-bg);
					color: var(--text-color-dark);
				}

				& .text__card-text {
					background-color: var(--page-bg);
					color: var(--text-color-dark);
				}
			}
		}
	}

	// .how__btn {
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: center;
	// 	position: relative;
	// 	font-weight: 500;
	// 	font-size: 16px;
	// 	line-height: 100%;
	// 	letter-spacing: -0.04em;
	// 	text-transform: uppercase;
	// 	height: 40px;
	// 	color: var(--text-color);
	// 	background-color: var(--accent);
	// 	padding: 0;
	// 	width: 100%;
	// 	max-width: 469px;
	// 	margin: 0 auto;
	// 	margin-top: 40px;

	// 	border: 1px solid var(--page-bg);
	// 	transition: all 0.2s ease-in;

	// 	&:hover {}

	// 	@include mobile {
	// 		margin-top: 20px;
	// 	}
	// }

	.bars_right {
		position: absolute;
		height: 40px;
		width: 100%;

		.bar {
			width: 100%;
			position: absolute;
			background-color: var(--accent);
			height: 100%;

			&_1 {
				width: 20px;
				right: 12%;
			}

			&_2 {
				width: 16px;
				right: 6%;
			}

			&_3 {
				width: 8px;
				right: 2%;
			}

			&_4 {
				width: 4px;
				right: 0%;
			}
		}
	}

	.bars_left {
		position: absolute;
		height: 40px;
		width: 100%;

		.bar {
			width: 100%;
			position: absolute;
			background-color: red;
			background-color: var(--accent);
			height: 100%;

			&_5 {
				width: 20px;
				left: 12%;
			}

			&_6 {
				width: 16px;
				left: 6%;
			}

			&_7 {
				width: 8px;
				left: 2%;
			}

			&_8 {
				width: 4px;
				left: 0%;
			}
		}
	}

	.white__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		justify-self: end;
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		letter-spacing: -0.04em;
		text-transform: uppercase;
		height: 40px;
		color: var(--text-color);
		// background-color: var(--accent);
		padding: 0;
		width: 100%;
		max-width: 469px;
		margin: 0 auto;
		margin-top: 40px;

		&:hover {
			.bars_right {
				.bar_1 {
					animation: bars_right 4s infinite;
				}

				.bar_2 {
					animation: bars_right 4s infinite;
					animation-delay: -1s;
				}

				.bar_3 {
					animation: bars_right 4s infinite;
					animation-delay: -2s;
				}

				.bar_4 {
					animation: bars_right 4s infinite;
					animation-delay: -3s;
				}
			}

			.bars_left {
				.bar_5 {
					animation: bars_left 4s infinite;
				}

				.bar_6 {
					animation: bars_left 4s infinite;
					animation-delay: -1s;
				}

				.bar_7 {
					animation: bars_left 4s infinite;
					animation-delay: -2s;
				}

				.bar_8 {
					animation: bars_left 4s infinite;
					animation-delay: -3s;
				}
			}
		}

		&-text {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			width: 100%;
			max-width: 300px;
			background-color: var(--accent);

			@include mobile {
				max-width: 260px;
			}
		}
	}
}