.mobile-nav {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	z-index: 99;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--accent);
	transition: all 0.2s ease-in;

	.border_wrapper {
		padding: 10px;
		background-color: var(--page-bg);
		width: 300px;
	}
}

.mobile-nav--open {
	right: 0;
}

.mobile-nav li {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgba(255, 177, 22, 0.2);

	&:first-child {
		border-top: none;
	}

	&:last-child {
		border-bottom: none;
	}
}

.mobile-nav li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.mobile-nav__list li a {
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;
	letter-spacing: -0.04em;
	text-transform: uppercase;
	color: var(--accent-dark);

	&:hover {
		background-color: var(--accent);
		color: var(--text-color);
	}

	@include mobile {
		font-size: 16px;
	}
}

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 28px;
	background-color: var(--page-bg);
	border: 1px solid rgba(124, 0, 0, 0.6);
	padding: 10px 20px;

	// & .active {
	// 	opacity: 0.5;
	// }
}